* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #eaeaea;
}

main {
  background-color: #ffffff;

  width: 70%;
  margin: 40px auto;
  padding: 30px;
  border-radius: 10px;
}

main h1 {
  text-transform: uppercase;
  text-align: center;

  color: #1b1b1b;
  font-size: 1.75rem;
  font-weight: 700;

  margin-top: 30px;
  margin-bottom: 20px;
}

main figure img {
  width: 100%;
  height: 250px;
  object-fit: cover;

  border-radius: 10px;
  margin-bottom: 5px;
}

main figure figcaption {
  margin-top: 10px;
  margin-left: 30px;

  text-align: right;
  font-size: 0.75rem;
  color: #8f8f8f;
}

article h2,
aside h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  color: #1b1b1b;

  margin-top: 40px;
  margin-bottom: 20px;
}

article ul li,
article ol li {
  font-size: 1rem;
  line-height: 26px;
  margin-bottom: 25px;

  color: #39393a;

  list-style-position: inside;
}

footer {
  text-align: center;

  margin-bottom: 20px;
}

footer a {
  text-decoration: none;
  color: #8f8f8f;
}
